@model Icecream.Models.Userrecipe


@{
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}

@{
    ViewData["Title"] = "userrecipe_detail";
}

<h1>userrecipe_detail</h1>

<div>
    <h4>Userrecipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.recipe_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.recipe_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.recipe_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.recipe_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Website/img/@Html.DisplayFor(model => model.Path)" width="300px" height="200px"></img>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.points)
        </dd>
    </dl>
</div>
<div>
  
    <a asp-action="userrecipe_index" class="btn btn-secondary">Back to List</a>
</div>
