@model IEnumerable<Icecream.Models.FAQ>

@{
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}

@{
    ViewData["Title"] = "Index";
}

<partial name="Notifications" />

<h1>Faq Index</h1>

<p>
    <a class="btn btn-danger" asp-action="faq_create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                    <a class="btn btn-info btn-sm" asp-action="faq_edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-warning btn-sm" asp-action="faq_details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-success btn-sm" asp-action="faq_delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
