@model IEnumerable<Icecream.Models.Userfaq>

@{
    Layout = "/Views/Shared/Dashboard_Layout.cshtml";
}

@{
    ViewData["Title"] = "userfaqs_list";
}

<h1>userfaqs_list</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            
        </tr>
}
    </tbody>
</table>
